<h1>Perfil Camping</h1>
<div class="">
	<%= form_with(model: @camping, local: true) do |f| %>

		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name, autofocus: true %>
		</div>

		<div class="form-group">
			<%= f.label :description %>
			<%= f.text_area :description %>
		</div>

		<div class="form-group">
	    	<%= f.label :camping_type %><br>
	    	<%= f.select :camping_type, Camping.camping_types.keys%>
	    </div><br>

	    <div class="form-group">
			<%= f.label :address %>
			<%= f.text_field :address%>
		</div>

		<div class="form-group">
	      	<%= f.label :region %><br />
			<%= f.select :region, options_for_select(@regions),{prompt: 'Seleccione region'}, {id: 'regions'}%>
	    </div><br>

		<div class="form-group">
	      <%= f.label :city_id%><br>
	      <%= f.select :city_id, options_for_select(@cities),{prompt: 'Seleccione Ciudad'}, {id: 'cities'}%>
	    </div><br>

	    <div class="form-group">
	      <%= f.label :commune_id%><br>
	      <%= f.select :commune_id, options_for_select(@communes),{prompt: 'Seleccione Comuna'}, {id: 'communes'}%>
	    </div><br>

		<div class="form-group">
			<%= f.label :rules %>
			<%= f.text_area :rules %>
		</div>

		<div class="form-group">
  			<%= f.label :images %>
  			<%= f.file_field :images, id: :image_image, multiple: true, class: "form-control" %>
  		 </div><br>

  		 <div class="field">
  			 <%= f.label "Servicios" %><br />
 			 <%= f.collection_check_boxes :service_ids, Service.all, :id, :name do |b| %>
		   		 <div class="collection-check-box">
		  			<%= b.check_box %>
		      		<%= b.label %>
		    	</div>
 			 <% end %>
		</div>

		<div class="actions">
			<%= f.submit %>
		</div>
	<% end %>
</div>

