<header>

	<div class="container-fluid form-box-container">
		<div class="row">
				<div class="col-md-6">
				</div>
				<div class="col-md-6 form-box">
					<form>
						<div class="form-group">
							<label for="formGroupExampleInput">Destino</label>
							<input type="text" class="form-control" id="formGroupExampleInput" placeholder="">
						</div>
						<div class="form-group">
							<label for="formGroupExampleInput2">Desde</label>
							<input type="date" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
						</div>
						<div class="form-group">
							<label for="formGroupExampleInput2">Hasta</label>
							<input type="date" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
						</div>
					 	<button type="submit" class="btn btn-primary mb-2">Buscar</button>
					</form>
				</div>
		</div>
	</div>
</header>

<section id="regiones">
	<div class="container-fluid flex-gallery">
		<div class="row">
			<div class="col-md-4">
				<figure>
					<%= image_tag 'arica_y_parinacota.jpg', class: "region_img"%>
					<figcaption>
						<div>
							<p>Region de Arica y Parinacota</p>
						</div>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-4">
				<figure>
					<%= image_tag 'tarapaca.jpg', class: "region_img" %>
					<figcaption>
						<div>
							<p>Region de Tarapaca</p>
						</div>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-4">
				<figure>
					<%= image_tag 'antofagasta.jpg', class: "region_img" %>
					<figcaption>
						<div>
							<p>Region de Antofagasta</p>
						</div>
					</figcaption>
				</figure>
			</div>
		</div>
		<div class="row pt-10">
			<div class="col-md-4">
				<figure>
					<%= image_tag 'atacama.jpeg', class: "region_img" %>
					<figcaption>
						<div>
							<p>Region de Atacama</p>
						</div>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-4">
				<figure>
					<%= image_tag 'coquimbo.jpg', class: "region_img" %>
					<figcaption>
						<div>
							<p>Region de Coquimbo</p>
						</div>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-4">
				<figure>
					<%= image_tag 'valparaiso.jpg', class: "region_img" %>
					<figcaption>
						<div>
							<p>Region de Valparaiso</p>
						</div>
					</figcaption>
				</figure>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<figure>
					<%= image_tag 'metropolitana.jpg', class: "region_img" %>
					<figcaption>
						<div>
							<p>Region Metropolitana</p>
						</div>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-4">
				<figure>
					<%= image_tag 'ohiggins.jpg', class: "region_img" %>
					<figcaption>
						<div>
							<p>Region de O'Higgins</p>
						</div>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-4">
				<figure>
					<%= image_tag 'maule.jpg', class: "region_img" %>
					<figcaption>
						<div>
							<p>Region del Maule</p>
						</div>
					</figcaption>
				</figure>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<figure>
					<%= image_tag 'biobio.jpg', class: "region_img" %>
					<figcaption>
						<div>
							<p>Region del Bio Bio</p>
						</div>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-4">
				<figure>
					<%= image_tag 'araucania.jpg', class: "region_img" %>
					<figcaption>
						<div>
							<p>Region de la Araucania</p>
						</div>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-4">
				<figure>
					<%= image_tag 'losrios.jpg', class: "region_img" %>
					<figcaption>
						<div>
							<p>Region de Los Rios</p>
						</div>
					</figcaption>
				</figure>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<figure>
					<%= image_tag 'loslagos.jpg', class: "region_img" %>
					<figcaption>
						<div>
							<p>Region de Los Lagos</p>
						</div>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-4">
				<figure>
					<%= image_tag 'aysen.jpg', class: "region_img" %>
					<figcaption>
						<div>
							<p>Region de Aysen</p>
						</div>
					</figcaption>
				</figure>
			</div>
			<div class="col-md-4">
				<figure>
					<%= image_tag 'magallanes.jpg', class: "region_img" %>
					<figcaption>
						<div>
							<p>Region de Magallanes</p>
						</div>
						</figcaption>
				</figure>
			</div>
		</div>
	</div>
	
</section>


