<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="row row-mt-15em">

						<div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
							<h1>Bienvenido a <%= @camping.name %></h1>	
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
	</header>
	
	<p><%= notice %></p>
    <p><%= alert %></p>
	
	<div class="gtco-section border-bottom">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<p><%= @camping.description %></p>
				</div>
			</div>
			<div class="row">
			
				<div class="col-md-4">
					
					<div class="price-box popular">
						<h2 class="pricing-plan">Precios</h2>
						<hr>
						<ul class="pricing-info">
							<h4>Temporada Alta: </h4>
							<%if @plans_high == []%>
								<li>No hay precios asociados a temporada alta aun :(</li><br>
							<%else%>
								<li>Adulto: <%= @plans_high[1][1] %></li>
								<li>Niño: <%= @plans_high[0][1] %></li><br>
							<%end%>
							<h4>Temporada Baja: </h4>
							<%if @plans_low == []%>
								<li>No hay precios asociados a temporada baja aun :(</li>
							<%else%>
								<li>Adulto: <%= @plans_low[1][1] %></li>
								<li>Niño: <%= @plans_low[0][1] %></li>
							<%end%>
						</ul>
						<%= link_to 'Reserva Ahora!', new_camping_booking_path(@camping), class: "btn btn-primary btn-sm"%>
					</div>
				</div>
				<div class="col-md-4">
					<div class="price-box popular">
						<h2 class="pricing-plan">Servicios</h2>
						<hr>
						<ul class="pricing-info">
						<%if @services.empty?%>
								<p>No hay descripción de servicios aun.</p>
							<%else%>
								<% @services.each do |servicio| %>
									<li><%= servicio.name %></li>
								<% end %>
							<%end%>
						</ul>
						<%= link_to 'Reserva Ahora!', new_camping_booking_path(@camping), class: "btn btn-primary btn-sm"%>
					</div>
				</div>
				<div class="col-md-4">
					<div class="price-box popular">
						<h2 class="pricing-plan">Turismo:</h2>
						<hr>
						<ul class="pricing-info">
							<%if @camping.tourism.empty?%>
								<p>No hay sugerencias de turismo en la zona aun</p>
							<%else%>
								<li><%= @camping.tourism %></li>
							<%end%>
						</ul>
						<%= link_to 'Reserva Ahora!', new_camping_booking_path(@camping), class: "btn btn-primary btn-sm"%>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>Información adicional:</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<ul class="fh5co-faq-list">
						<li class="animate-box">
						<%if @camping.info.empty?%>
							<p>No hay información adicional</p>
						<%else%>
							<p><%= @camping.info %></p>
						<%end%>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>Opiniones Usuarios</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<ul class="price-box popular">
						<%if @reviews.empty?%>
							<p>No hay opiniones asociadas al Camping aun.</p>
						<%else%>
							<% @reviews.each do |review| %>
									<h4>El <%= review.created_at.strftime("%d-%m-%Y") %> <%= review.booking.user.name%> escribió:</h4>
									<p><%= review.comment %></p>
									<p>Evaluación: <%= review.ranking.to_i %></p>
							<% end %>
						<%end%>
					</ul>
				</div>
			</div>
		</div>
	</div>
