<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					<div class="row row-mt-15em">

						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
								
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
	</header>
    <p><%= notice %></p>
    <p><%= alert %></p>
<div class="gtco-section border-bottom">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-6 animate-box">
					<h3>Perfil Usuario</h3>
					<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

						<div class="row form-group">
							<div class="col-md-12">
								<%= f.label :name,'Nombre:' %>
                <%= f.text_field :name, autofocus: true, class: "form-control"%>
              </div>
						</div>

            <div class="row form-group">
							<div class="col-md-12">
								<%= f.label :lastName, 'Apellido' %>
                <%= f.text_field :lastName, class: "form-control"%>
              </div>
						</div>

            <div class="row form-group">
							<div class="col-md-12">
								<%= f.label :birthday %><br />
                <%= f.date_field :birthday, class: "form-control"%>
              </div>
						</div>

            <div class="row form-group">
							<div class="col-md-12">
							<%= f.label :genre%><br>
              <%= f.select :genre_id, options_for_select(Genre.all.map{|s|[s.name, s.id]}), prompt: 'Seleccione Genero'%>
              </div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<%= f.label :phone,'Dirección:' %>
                <%= f.text_field :phone, class: "form-control"%>
              </div>
						</div>

             <div class="row form-group">
							<div class="col-md-12">
								<%= f.label :address,'Dirección:' %>
                <%= f.text_field :address, class: "form-control"%>
              </div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<%= f.label :country,'País:' %><br>
                <%= f.select :country, @country.pluck(:name, :id), prompt: 'Seleccione Pais', class: "form-control"%>
              </div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<%= f.label :region,'Región:' %>
                <select id="regions" class="form-control"></select>
              </div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<%= f.label :city,'Ciudad:' %>
                <select id="cities" class="form-control"></select>
              </div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<%= f.label :commune,'Comuna:' %>
                <select id="commune_id" name="user[commune_id]"></select>
              </div>
						</div>

            <div class="row form-group">
							<div class="col-md-12">
								<%= f.label :image %>
                <%= f.file_field :image, id: :image_image, class: "form-control" %>
              </div>
						</div>

            <div class="row form-group">
							<div class="col-md-12">
								<%= f.label :biography %><br />
                <%= f.text_area :biography, class: "form-control"%>
              </div>
						</div>

            <div class="row form-group">
							<div class="col-md-12">
								<%= f.label :email %><br />
                <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
              </div>
						</div>

             <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Esperando que confirmes tu correo: <%= resource.unconfirmed_email %></div>
            <% end %>

						<div class="row form-group">
							<div class="col-md-12">
                  <%= f.label :password %> <i>(Dejar en blanco si no quieres cambiarla.)</i><br />
                  <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                  <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> caracteres minimo.</em>
                  <% end %>
              </div>
						</div>

            <div class="row form-group">
							<div class="col-md-12">
                  <%= f.label :password_confirmation, 'Repita Contraseña' %>
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
              </div>
						</div>

            <div class="row form-group">
							<div class="col-md-12">
                  <%= f.label :current_password, 'Contraseña actual' %> <i>(Ingrese su contraseña actual para actualizar su Perfil)</i><br />
                  <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
              </div>
						</div>

						<div class="form-group">
              <%= f.submit 'Guardar', class: "btn btn-primary"  %>
						</div>

					</form>	
          <% end %>
            <h4>Eliminar Cuenta</h4>
            <p><%= button_to "Eliminar mi cuenta", registration_path(resource_name), data: { confirm: "Estas Seguro? :(" }, method: :delete %></p>
				</div>
					<div class="col-md-5 col-md-push-1 animate-box">
						<div class="gtco-contact-info">
							<%= image_tag(@user.image.url, alt: 'profile image') if @user.image? %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




<script>

	$('select[name="user[country]"]').on('change', function(event){
		$.ajax({
			url: '<%= regions_path %>',
			type: 'get',
			dataType: 'script',
			data: {country_id: $(this).val()}
		})
	})

	$('#regions').on('change', function(event){
		$.ajax({
			url: '<%= cities_path %>',
			type: 'get',
			dataType: 'script',
			data: {region_id: $(this).val()}
		})
	})

	$('#cities').on('change', function(event){
		$.ajax({
			url: '<%= communes_path %>',
			type: 'get',
			dataType: 'script',
			data: {city_id: $(this).val()}
		})
	});
</script>