<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="row row-mt-15em">

						<div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
							<h1>Felicitaciones has reservado con nosotros!</h1>	
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
	</header>
    <p><%= notice %></p>
    <p><%= alert %></p>
	<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
                
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
					<h2>Datos Reserva: </h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<ul class="fh5co-faq-list">
						<li class="animate-box">
                            <h4>Camping:</h4>
							<p><%=@booking.campsite.camping.name%></p>
						</li>
                        <li class="animate-box">
                            <h4>Sitio:</h4>
							<p><%=@booking.campsite.identifier%></p>
						</li>
                        <li class="animate-box">
                            <h4>Desde:</h4>
							<p><%=@booking.check_in%></p>
						</li>
                        <li class="animate-box">
                            <h4>Hasta:</h4>
							<p><%=@booking.check_out%></p>
						</li>
                        <li class="animate-box">
                            <h4>Precio por Día:</h4>
							<p><%=@booking.price_per_day%></p>
						</li>
                        <li class="animate-box">
                            <h4>Precio Total:</h4>
							<p><%=@booking.total_price%></p>
						</li>
                        <li class="animate-box">
                            <h4>Cantidad Adultos:</h4>
							<p><%=@booking.adults_quantity%></p>
						</li>
                        <li class="animate-box">
                            <h4>Cantidad Niños:</h4>
							<p><%=@booking.kids_quantity%></p>
						</li>
                        <li class="animate-box">
                            <h4>Observaciones:</h4>
							<p><%=@booking.observations%></p>
						</li>
                        <li class="animate-box">
                            <%= link_to 'Pagar Online', pre_pay_billings_path, class: 'btn btn-primary btn-sm' %>
                            <%= link_to 'Pagar en Camping', root_path, class: 'btn btn-primary btn-sm' %>
                        </li>
					</ul>
				</div>
			</div>
            
		</div>
	</div>
