
  <nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo"><a href="<%= root_path %>">ChileCamp<em>.</em></a></div>
				</div>
				<div class="col-xs-8 text-right menu-1">
					<ul>
						<li><a href="<%= new_user_session_path %>">Iniciar Sesión</a></li>
						<li><a href="<%= new_user_registration_path %>">Registrarse</a></li>
					<% if user_signed_in? %>
						<li><%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete %></li>
						<li><a href="<%= edit_user_registration_path %>">Perfil Usuario</a></li>
						<li><a href="<%= campings_path %>">Camping</a></li>
					</ul>
				<% end %>	
				</div>
			</div>
			
		</div>
	</nav>