<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					<div class="row row-mt-15em">

						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
								
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
	</header>
	
    <p><%= notice %></p>
    <p><%= alert %></p>
	
<div class="gtco-section border-bottom">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-6 animate-box">
					<h3>Escribe tu opinión:</h3>
					<%= form_with(model: [@camping,@booking, @review], local: true) do |f| %>

						<div class="row form-group">
							<div class="col-md-12">
								<%= f.label :title,'Título:' %>
                                <%= f.text_field :title, autofocus: true, class: "form-control"%>
                            </div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
                                <%= f.label :comment, 'Comentario:' %>
                                <%= f.text_area :comment, class: "form-control", cols: "30", rows: "5" %>
                            </div>
						</div>

                        <div class="row form-group">
							<div class="col-md-12">
                                <%= f.label :ranking, 'Evaluación:' %>
                                
                            </div>
						</div>

						<div class="form-group">
                            <%= f.submit 'Guardar', class: "btn btn-primary"  %>
						</div>

					</form>	
                    <% end %>	
				</div>
				</div>
			</div>
		</div>
	</div>

