<br>
<br>
<br>
<%= render 'shared/menu' %>
<main class="col-md-9 float-left col px-5 pl-md-2 pt-2 main">
<h1>Index Plans</h1>

<table>
	<tr>
		<th>Persona</th>
		<th>Precio</th>
		<th>Temporada</th>
	</tr>
		<% @plans.each do |plan| %>
		<tr>
			<td><%= plan.person_type %> </td>
			<td><%= plan.price %> </td>
			<td><%= plan.season.name %> </td>
			<td><%= link_to 'Ver', camping_plan_path(@camping, plan.id) %></td>
			<td><%= link_to 'Editar', edit_camping_plan_path(@camping,plan.id) %></td>
		</tr>
	<% end %>
	

</table>
</main>