<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-left">
					<div class="row row-mt-15em">

						<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">
								
						</div>
						
					</div>
					
				</div>
			</div>
		</div>
	</header>
	
    <p><%= notice %></p>
    <p><%= alert %></p>
	
<%= render 'form'%>

<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h2>Sitios en tu Camping:</h2>
				</div>
			</div>
			<div class="row">
				<% @campsites.each do |campsite| %>
					<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="price-box popular">
								<h3><%= campsite.identifier %></h3>
								<p><%= campsite.description %></p>
								<% if campsite.status == true%>
									<p>Estado: Ocupado</p>
								<%else%>
									<p>Estado: Disponible</p>
								<%end%>
								<%= link_to 'Editar',  edit_camping_campsite_path(@camping,campsite), class: "btn btn-primary btn-sm"%>
							</div>
					</div>
					<% end %>
			</div>
		</div>
	</div>

