
<%= render 'shared/menu' %>
<main class="col-md-9 float-left col px-5 pl-md-2 pt-2 main">
<h1>Index CampSites</h1>

<table>
	<tr>
		<th>Nombre</th>
		<th>Descripcion</th>
	</tr>
		<% @campsites.each do |campsite| %>
		<tr>
			<td><%= campsite.identifier %> </td>
			<td><%= campsite.description %> </td>
			<td><%= link_to 'Ver', camping_campsite_path(@camping, campsite.id) %></td>
			<td><%= link_to 'Editar', edit_camping_campsite_path(@camping,campsite.id) %></td>
		</tr>
	<% end %>
	

</table>
</main>



