<h1>new campsite</h1>

<div class="">
	<%= form_with(model: [@camping, @campsite], local: true) do |f| %>

		<div class="form-group">
			<%= f.label :identifier %>
			<%= f.text_field :identifier, autofocus: true %>
		</div>

		<div class="form-group">
			<%= f.label :description %>
			<%= f.text_area :description %>
		</div>

	    <div class="actions">
			<%= f.submit %>
		</div>
	<% end %>
</div>

<%= render 'shared/menu' %>

<script>
	$('#test').BootSideMenu();
	$('#demo').BootSideMenu({

	  // 'left' or 'right'
	  side: "left",

	  // animation speed
	  duration: 500,

	  // restore last menu status on page refresh
	  remember: true,

	  // auto close
	  autoClose: false,

	  // push the whole page
	  pushBody: true,

	  // close on click
	  closeOnClick: true,

	  // width
	  width: "15%",

	  // icons
	  icons: {
	    left: 'glyphicon glyphicon-chevron-left',
	    right: 'glyphicon glyphicon-chevron-right',
	    down: 'glyphicon glyphicon-chevron-down'
	  },

	  // 'dracula', 'darkblue', 'zenburn', 'pinklady', 'somebook'
	  theme: '',
	  
	});
</script>